@model Category
@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>
<div class="row">
    <div class="col-lg-2 col-md-3">侧栏</div>
    <div class="col-lg-10 col-md-9">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ParentId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ParentId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.View)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.View)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.General.ModuleId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.General.ModuleId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.General.ContentView)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.General.ContentView)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.General.ContentOrder)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.General.ContentOrder)
                </dd>
            </dl>
        </div>
        @*<ul class="list-group">
                <li class="list-group-item">
                    <label asp-for="CategoryId"></label>
                    @Html.DisplayFor(model=>model.CategoryId)
                </li>
                <li class="list-group-item">
                    <label asp-for="Name"></label>
                    @Html.DisplayFor(model => model.Name)
                </li>
                <li class="list-group-item">
                    <label asp-for="ParentId"></label>
                    @Html.DisplayFor(model => model.ParentId)
                </li>
                <li class="list-group-item">
                    <label asp-for="Type"></label>
                    @Html.DisplayFor(model => model.Type)
                </li>
                <li class="list-group-item">
                    <label asp-for="Target"></label>
                    @Html.DisplayFor(model => model.Target)
                </li>
                <li class="list-group-item">
                    <label asp-for="Order"></label>
                    @Html.DisplayFor(model => model.Order)
                </li>
                <li class="list-group-item">
                    <label asp-for="Description"></label>
                    @Html.DisplayFor(model => model.Description)
                </li>
            </ul>*@

    </div>
</div>

